body {
     font-family: 'Playfair Display', serif;
}
nav {
    background-color: #eba156;
}
.background-image {
    background-image: url(images/julian-hochgesang-g6HNQsjqTCM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    
}

card-image-top{
    width: inherit;
}

.hr {
    margin: 0px;
}
.activ li {
/*    margin: auto;*/
    color: black;
}
ul a {
    color: black;
    
}
input:focus {
    outline: none;
}

footer {
    background-color: #dedede;
}
